// Primary

$Soft_red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark_desaturated_cyan : hsl(167, 40%, 24%);
// (graphic design text)
$Dark_blue : hsl(198, 62%, 26%);
// (photography text)
$Dark_moderate_cyan: hsl(168, 34%, 41%);
// (footer)
$yellow_opacity : rgba(250, 212, 0, 0.25);;
$red_opacity : hsla(7, 99%, 70%, 0.25);

// Neutral

$Very_dark_desaturated_blue: hsl(212, 27%, 19%);
$Very_dark_grayish_blue: hsl(213, 9%, 39%);
$Dark_grayish_blue: hsl(232, 10%, 55%);
$Grayish_blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);


// Width

$mobile : 375px;

@mixin max-width ($width) {
    @media (max-width : $width) {
        @content;
    }
}


body {
    font-size: 18px;
    font-family: 'Barlow', 'Fraunces';
    margin: 0px;
}

header {
    height: 800px;
    background-image: url("image/photos/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @include max-width($mobile) {
        height: 538px;
        background-position: center;
    }

    .burger__btn {
        display: none;
        background-color: transparent;
        border: none;
        float: right;

        &:hover svg path {
            fill: rgba(255, 255, 255, 0.5);
        }

        @include max-width($mobile) {
            display: block;
        }

    }

    .nav {
        @include max-width($mobile) {
            padding-bottom: 0px;
            padding-top: 32px;
            margin: 0px 24px;
        }

        &__img {
            height: 33px;
            width: 177px;

            @include max-width($mobile) {
                width: 123.64px;
                height: 24px;
            }
        }

        display : flex;
        justify-content: space-between;
        margin : 0px 40px;
        padding : 34px 0px;

        &__barre {
            @include max-width($mobile) {
                display: none;
            }
            ul{
                list-style-type: none;
                display: flex;
                margin : 0px;
                .barre__btn {
                    width: 66px;
                    height: 25px;
                    margin-left: 47px;
                    background-color: transparent;
                    border: none;
                    margin-top : 12px;
                    a {
                        font-family: 'Barlow';
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 25px;
                        color: $White;
                    }
                }
                .barre__contact {
                    height: 56px;
                    width: 140px;
                    background-color: $White;
                    border: none;
                    border-radius: 25px;
                    margin-left: 47px;
                    text-align : center;
                    a {
                        font-family: 'Fraunces';
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 56px;
                        text-transform: uppercase;
                        color: $Dark_blue;
    
                    }
    
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.25);
    
                        a {
                            color: white;
                        }
                    }
                }
            }
            
        }
    }

    .header__h1 {
        text-align: center;
        margin: 105px 0px;
        font-family: 'Fraunces';
        font-size: 56px;
        font-weight: 900;
        line-height: 69px;
        letter-spacing: 8.75px;
        text-transform: uppercase;
        color: $White;

        @include max-width($mobile) {
            font-size: 40px;
            margin-top: 88px;
            margin-bottom: 52px;
        }
    }

    .header__img {
        text-align: center;
        margin: 96.54px 0px;
        width: 100%;

        @include max-width($mobile) {
            margin-top: 0px;
        }
    }
}


.textImage {
    display: flex;
    flex-direction: row;
    height: 600px;

    @include max-width($mobile) {
        flex-direction: column;
        height: auto;
    }

    &__image {
        width: 50%;

        @include max-width($mobile) {
            width: 100%;
            height: 312px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        width: 50%;

        @include max-width($mobile) {
            width: 100%;
        }

        .text__align {
            width: 445px;
            margin-top: 158px;
            margin-left: 165px;

            @include max-width($mobile) {
                width: 327px;
                margin-top: 0px;
                margin-left: 0px;
                margin: 64px 24px;
            }

            h2 {
                font-family: 'Fraunces';
                font-size: 40px;
                font-weight: 900;
                line-height: 49px;
                text-align: left;
                color: $Dark_blue;
                margin: 0px;

            }

            p {
                font-family: 'Barlow';
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                text-align: left;
                color: $Dark_grayish_blue;
                margin: 0px;
                margin-top: 32px;
                margin-bottom: 40px;

            }

            a {
                font-family: 'Fraunces';
                font-size: 15px;
                font-weight: 900;
                line-height: 25px;
                text-align: left;
                color: $Very_dark_desaturated_blue;
                margin-left: 5px;
            }
            .soulignement--yellow{
                text-decoration: underline 10px $yellow_opacity;
                &:hover {
                    text-decoration: underline 10px $Yellow;
                }
            }
            .soulignement--red{
                text-decoration: underline 10px $red_opacity;
                &:hover {
                    text-decoration: underline 10px $Soft_red;
                }
            }
            }
        }
    }




@include max-width($mobile) {
    .textImage--mobile {
        flex-direction: column-reverse;
    }
}



.ImageImage {
    display: flex;
    flex-direction: row;
    height: 600px;

    @include max-width($mobile) {
        height: 1200px;
        flex-direction: column;
    }

    .Image--1 {
        background-image: url("image/photos/image-graphic-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;

        h2 {
            color: $Dark_desaturated_cyan;
        }

        p {
            color: $Dark_desaturated_cyan;
        }
    }

    .Image--2 {
        background-image: url("image/photos/image-photography.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;

        h2 {
            color: $Dark_blue;
            ;
        }

        p {
            color: $Dark_moderate_cyan;
        }
    }

    @include max-width($mobile) {

        .Image--1,
        .Image--2 {
            height: 600px;
            width: 100%;
            background-position: center;
        }
    }

    &__center {
        margin: auto;
        width: 339px;
        margin-top: 398px;
        text-align: center;

        h2 {
            font-family: 'Fraunces';
            font-size: 28px;
            font-weight: 900;
            line-height: 35px;

        }

        p {
            font-family: Barlow;
            font-size: 16px;
            font-weight: 600;
            line-height: 27px;
            text-align: center;


        }
    }
}


.client {
    margin-top: 160px;

    @include max-width($mobile) {
        margin-top: 64px;
    }

    &__titles {
        margin: 0;
        text-align: center;
        font-family: 'Fraunces';
        font-size: 20px;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 5px;
        color: $Grayish_blue;
        text-transform: uppercase;
        margin-bottom: 51px;

        @include max-width($mobile) {
            margin-bottom: 0px;
        }
    }

    .client__profil {
        display: flex;
        justify-content: center;

        @include max-width($mobile) {
            flex-direction: column;
        }

        .profil {
            width: 350px;
            text-align: center;
            margin: 30px;

            @include max-width($mobile) {
                width: 327px !important;
                margin: 64px auto 0px auto !important;
            }

            &__img {
                width: 72px;
                height: 72px;
                border-radius: 40px;
                margin-bottom: 58px;
            }

            &__text {
                margin: 0px;
                font-family: 'Barlow';
                font-size: 18px;
                font-weight: 600;
                line-height: 32px;
                color: $Very_dark_grayish_blue;
                margin-bottom: 69px;
            }

            &__name {
                font-family: 'Fraunces';
                font-size: 18px;
                font-weight: 900;
                line-height: 22px;
                text-align: center;
                color: $Very_dark_desaturated_blue;
                margin: 0px;
                margin-bottom: 9px;
            }

            &__metier {
                font-family: 'Barlow';
                font-size: 14px;
                font-weight: 600;
                line-height: 25px;
                color: $Grayish_blue;
                margin: 0px;
            }
        }
    }

}


footer {
    margin-top: 160px;
    background-color: #90D4C6;
    ;

    @include max-width($mobile) {
        margin-top: 86px;
    }

    .footer__img {
        display: flex;

        @include max-width($mobile) {
            flex-wrap: wrap;
        }

        img {
            width: 25%;
            height: 447px;

            @include max-width($mobile) {
                height: 50%;
                width: 50%;
            }
        }
    }

    .footer__lien {
        height: 350px;

        .lien__center {
            display: flex;
            width: 297px;
            margin: auto;
            flex-direction: column;
            text-align: center;
            margin-top: 72px;

            @include max-width($mobile) {
                margin-top: 64px;
            }

            .center__logoVert {
                width: 170px;
                height: 33px;
                margin: auto;
                margin-bottom: 40px;
            }

            .center__lien {
                font-family: 'Barlow';
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
                color: $Dark_desaturated_cyan;
                &:hover {
                    color: $White;
                }
            }
        }
    }

    ul {
        padding: 0px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;
    }

    li {
        list-style-type: none;
    }

    .icon__footer {
        width: 164px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .btn__icon {
            background-color: transparent;
            border: none;

            &:hover svg path {
                fill: $White;
            }
        }
    }
}